<html>
<head>	
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>

{{{header}}}

<tr>
	<td colspan="2" style="padding: 10px; border-bottom: 2px solid #14b481;">
		<p>Welcome to Famewal,</p>
		<p>&nbsp;</p>
		<p>Dear {{name}},</p>
		<p>&nbsp;</p>
		<p>Welcome to Famewal. Your account verification is successful.</p>
		<p>&nbsp;</p>
		<p>We're excited to have you onboard!</p>
		<p>&nbsp;</p>
		<p>Cheers</p>
		<p>Famewal</p>
	</td>
</tr>

{{{footer}}}
</body>


</html>