<html>
<head>	
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>


<div style="font-family:Arial Narrow">
<p>Dear {{name}},</p>

<p>Please use the below 4 digit code to activate your account with Quaefacta.</p>

<p><b>OTP : {{otp}}</b></p>

<p>Cheers,<br>
Quaefacta Team<br>
</div>
</body>


</html>