<html>
<head>	
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>


<div style="font-family:Arial Narrow">
<p>Dear User,</p>

<p>Please use the below OTP to reset your account password with Quaefacta.</p>

<p><b>OTP : {{otp}}</b></p>

<p>Regards,<br>
Quaefacta Team<br>
</div>
</body>


</html>