<html>
<head>	
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>

{{{header}}}

<tr>
	<td colspan="2" style="padding: 10px; border-bottom: 2px solid #14b481;">
		<p>Dear {{name}},</p>
		<p>Please use below temporary password to change your password.<br/><br/>Temporary Password : {{password}}.</p>
		<p>&nbsp;</p>
		<p>Cheers</p>
		<p>Famewal Team</p>
	</td>
</tr>



{{{footer}}}
</body>


</html>