<html>
<head>	
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>

{{{header}}}

<tr>
	<td colspan="2" style="padding: 10px; border-bottom: 2px solid #14b481;">
		<p>Dear {{name}},</p>
		<p>To authenticate your email, please use the following One Time Password.</p>
		<p><b>OTP : {{otp}}</b></p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>Don't share this OTP with anyone. </p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>Cheers</p>
		<p>Famewal</p>
	</td>
</tr>



{{{footer}}}
</body>


</html>